<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div>Built by <a href="https://github.com/kieranhogan13">Kieran Hogan</a> on <a href="https://dotnet.microsoft.com/download/dotnet-core/2.2">.Net Core 2.2</a> and <a href="https://github.com/angular">Angular 7</a>. Calculated using <a href="https://github.com/NetTopologySuite/NetTopologySuite">NetTopologySuite</a> and the <a href="https://github.com/NetTopologySuite/ProjNet4GeoAPI">ProjNET4GeoAPI</a>.</div>
  </footer>
</body>
